.schedule p.underline {
  text-decoration: underline;
}

.events h2 {
  padding: 1rem 0 2rem;
  color: var(--bright-red);
  font-size: 3.5rem;
}

.schedule-section {
  display: flex;
  padding: 2rem 3rem;
  justify-content: center;
  background-color: var(--dark-red);
}

.schedule-section img {
  width: 100%;
  max-width: 1500px;
  margin: 3%;
}

.events {
  background-color: var(--light-red);
  text-align: center;
  padding: 2rem 3rem;
}

.events h6 {
  color: var(--bright-red);
  font-size: 1.75rem;
  font-weight: 300;
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.table-entry {
  font-size: 1rem;
}

.lies {
  color: var(--light-red);
  user-select: none;
}
