.portfolio-section {
  background-color: var(--light-red);
}

.portfolio-grid {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
  justify-content: center;
  gap: 1rem;
}

.portfolio-card {
  position: relative;
  margin: 0.5rem;
  width: 400px;
}

.card-header {
  text-align: center;
}

#card-image {
  object-position: top;
}

.card-content-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiCardHeader-subheader,
#expand-btn {
  color: white !important;
}

@media screen and (max-width: 37.5em) {
  .portfolio-card {
    width: 350px;
  }
}

@media screen and (max-width: 56.25em) {
  .portfolio-card {
    width: 300px;
  }
}

/* large screen */
@media screen and (min-width: 1440px) {
  .portfolio-card {
    width: 450px;
  }
  .portfolio-card .MuiTypography-h5 {
    font-size: 1.75rem;
  }
  .portfolio-card .MuiTypography-body1 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1920px) {
  .portfolio-card {
    width: 550px;
  }
}
